.qt/
.vscode/
build/
CMakeFiles/
OilStickerApp/
oilstickergui_autogen/
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt
make_mac_app.sh
Makefile
OilStickerApp.dmg
oilstickergui
package_mac_app.sh
.gitignore